html, body {
    font-family: sans-serif;
}
body {
    padding: 30px;
    background-color: rgb(255, 255, 255);
}
.btn-start {
    font-family: "Press Start 2P";
    display: block;
    position: absolute;
    top: 40%;
    left: 45%;
    transition: 0.1s ease all;
    background: white;
    color: black;
    border: 3px solid black;

    width: 150px;
    height: 150px;

}
.chord {
    font-weight: bold;
}
.home-btn {
    font-family: "Press Start 2P";
    position: fixed;
    right: 20px;
    bottom: 20px;
}
form {
    text-align: center;
}
