@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-size: 1.5rem;

}
.dark-mode{
  position: relative;
  align-items: center;
  color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.dark-mode-text{
  width: fit-content;
  color: #ffff;
  margin-right: 5px;
  font-size: 1.1rem !important;

}
.session-name{
  left:0;
  top:0;
  position: absolute;
  font-size:1.1rem !important;
  margin-bottom: 5px;
}
.leave-session{
  display: none;
  width: fit-content;
}
.leave-session>a{
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem !important;
  padding-top:5px
}
.leave-session:hover{
  text-decoration: underline;
}
#darkModeTextLyrics{
  display: none;
}
#darkModeLyrics{  
  display: none;  
}
.dark-color-mode{
  filter: invert(85%);
}
.dark-color-mode-lyrics{
  filter: invert(100%);
}


body {
  background: linear-gradient(rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)),
    url("pictures/Ukelele.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: hidden;
}
/* .background-attributes{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
} */

.card-body {
  flex-direction: row;
  flex-shrink: 1;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.centering-card {
  width: 30vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  border-radius: 1.25rem;
  flex-direction: column;
  background-color: #dadada;
  align-content: center;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.5);
  -o-object-fit: cover;
  object-fit: cover;
  flex-wrap: wrap;
}

.main-text {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  flex-shrink: 1;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: space-between;
  align-content: center;
  justify-content: center;
}

.main-text>p {
  font-size: 3.5rem;
  vertical-align: top;
  margin-bottom: 20px;
  font-style: italic;
  color: #f2f2f2;
  font-weight: 600;
  width: 30vw;
  text-align: center;
}

.chord-pro-file {
  font-size: 1rem !important;
  padding-bottom: 1rem;
  text-align: left;
  /*   padding-bottom:10px; */
}
.chord-pro-file input{
  height: 15vh;
}

@media (max-width: 1025px) {
  .card {
    width: 30vw;
  }
}

.logo {
  width: 50vw;
  padding-bottom: 20px;
  display: flex;
  align-self: center;
}

.input-code {
  color: gray;
  background-color: #ffff;
  width: 100%;
  align-self: center;
  height: 8vh;
  text-align: center;
  border-radius: 0.5rem;
  vertical-align: middle;
  font-size: 1.75rem;
  font-weight: 600;
  border: 1px solid black;
  margin-top: 5px;
  display: none;
}

::-webkit-input-placeholder {
  color: gray;
  opacity: 1;
  font-size: 1.25rem;
}

::-moz-placeholder {
  color: gray;
  opacity: 1;
  font-size: 1.25rem;
}

:-ms-input-placeholder {
  color: gray;
  opacity: 1;
  font-size: 1.25rem;
}

::-ms-input-placeholder {
  color: gray;
  opacity: 1;
  font-size: 1.25rem;
}

::placeholder {
  color: gray;
  opacity: 1;
  font-size: 1rem;
}

.enter-button {
  color: #ffffff;
  margin-top: 5px;
  width: 49%;
  align-self: center;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 12vh;
  font-size: 1.5rem;
  border: 1px solid black;
  transition: all 0.35s;
  background-color: #6c757d;
  align-items: center;
}
.enter-button:hover{
    background-color: #9299a0;
}
.enter-button:active{
    background-color: #535a5f;
}

#display {
  margin-left: 20px;
  font-size: 1.5rem;
  font-family: sans-serif;
  position: absolute;
  display: none;
  width: 90%;
}

.sub-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 1;
}

.chord-pro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  display: none;
  flex-shrink: 1;
}

.chord-pro-text {
  text-align: left;
  font-size: 1.3rem;
}

.sub-chord-pro-container {
  display: flex;
  align-content: center;
  flex-shrink: 1;
  width: 100%;
}

.sub-chord-pro-container>.chord-pro-file {
  align-content: center;
  align-self: center;
}

.sub-chord-pro-container>.enter-button {
  justify-content: center;
  align-content: center;
  height: 8vh;
  width: 100%;
}

.enter-session {
  display: none;
  width: 100%;
}

.enter-session>.enter-button {
  width: 100%;
  height: 8vh;
}

.lyrics {
  font-weight: 600;
  font-size: 1.3rem !important;
}

.left-arrow {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  color: black;
  align-self: flex-start;
}

.back-arrow {
  align-self: flex-start;
  position: fixed;
  padding-bottom: 8%;
  padding-left: 10px;
}

.enter-button:focus-visible {
  box-shadow: 0 0 0.25rem rgb(130 138 145 / 50%);
}

.lyrics,
.chord {
  padding-right: 1vw;
  /*font-family: 'Concert One', cursive;*/
  font-family: "Shippori Antique B1", sans-serif;
}

.row {
  height: 25%;
}

.chord {
  font-size: 2vw;
  color: red;
}

#screen {
 /*  margin: 2.5%; */
  position: absolute;
  height: 60%;
  width: 95%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: white;
  display: none;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.arrows {
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.arrow-button {
  text-decoration: none;
  background-color: inherit;
  border: none;
}

.arrow-button:hover {
  cursor: pointer;
}

.arrow {
  font-size: 7vw !important;
}

.back-button {

  width: 100%;
  text-align: left;
  text-decoration: none;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.back-button>a {
  text-decoration: none;
  background-color: inherit;
  border: none;
  color: inherit;
}

#song-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(202, 202, 202);
  margin-top: 5px;
  width: 100%;
}

#song-title {
  font-size: 1.1rem !important;
  font-family: "Shippori Antique B1", sans-serif;
}

#song-artist {
  font-size: 1.1rem !important;
  font-family: "Shippori Antique B1", sans-serif;
}

#session-name {
  font-family: "Shippori Antique B1", sans-serif;
}


.back-button>button {
  text-decoration: none;
  background: inherit;
  border: none;
  color: inherit;
  text-align: right;
}

.join-back-button {
  display: none;
  cursor: pointer;
}
.first-back-button{
  cursor: pointer;
}

.post-back-button {
  display: none;
}

.post-back-button:hover {
  cursor: pointer;
}

.next-button:hover {
  cursor: pointer;
}

.url-container {
  padding-bottom: 15px;
}

.join-back-button-link {
  padding-top: 15px;
}

.post-back-button {
  padding-top: 5px;
}

.form-link {
  z-index: -10;
  opacity: 0% !important;
  position: fixed;
  right: 0;
  bottom: 0;
  padding-bottom: 10px;
  text-decoration: none;
  padding-right: 10px;
  display: block !important;
  color: white;
  font-weight: 700;
}

.not-valid-url {
  color: red;
  font-size: 1rem !important;
  display: none;
}

/* Responsive css */
@media only screen and (max-width: 1200px) and (max-height: 300px){
    .centering-card{
        height: 50vh !important;
    }
    .input-code{
        height: 15vh !important;
    }
    .enter-button{
        height: 15vh !important;
    }
    
}

@media only screen and (max-width: 375px) and (max-height: 667px){
    .back-arrow {
      padding-bottom: 30%;
    }
  
    .centering-card {
      width: 60vw;
      height: 21vh !important;
    }
  
    .main-text {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
    }
  }

@media only screen and (max-width: 1280px) and (max-height: 720px) and (orientation:landscape){
    .logo{
        width: 40vw !important;
    }
}
@media only screen and (max-width:360px) and (max-height: 900px) and (orientation:portrait){
    .centering-card{
        height: 28vh !important;
        width: 85vw !important;
    }
}
@media only screen and (min-width: 1500px) {
  .centering-card {
    width: 49vw;
    height: 23vh !important;
  }
  *{
    font-size: 1.2rem;
  }
  .lyrics{
      font-size: 1.7rem !important;
  }

}
@media only screen and (max-width:1366px) and (max-height: 1024px) and (orientation:landscape){
    *{
        font-size: 1.1rem !important;
    }
}

@media only screen and (max-height: 800px) and (min-width: 1300px) and (orientation:landscape){
  .centering-card{
    height: 50vh !important;
  }
  .enter-button{
    height: 15vh !important;
  }
  .input-code{
    height: 15vh !important;
  }
  *{
      font-size: 1.5rem !important;
  }
}
@media only screen and (max-height: 360px) and (max-width:1000px) and (orientation:landscape){
  .centering-card{
    height: 50vh !important;
  }
  .enter-button{
    height: 15vh !important;
  }
  .input-code{
    height: 15vh !important;
  }
}
@media only screen 
  and (min-device-width: 1024px)
  and (max-device-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
    .enter-button{
      height:300%;
    }
    .centering-card{
      width: 40vw;
    }
  }
  @media only screen 
  and (min-device-width: 1024px)
  and (max-device-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
    .centering-card{
      width: 40vw;
    }
  }

@media only screen and (max-width:750px) and (max-height:440px){
  .centering-card{
    height: 60vh !important;
    width: 70vw !important;
  }
  .chord-pro-text{
    font-size: 1rem !important;
  }
  .next-button{
    font-size: 1rem !important;

  }
  .first-back-button{
    font-size: 1rem !important ;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .centering-card {
    height: 28vh !important;

  }

  label {
    font-size: 1.6rem;
  }

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-max-device-pixel-ratio: 1) and (orientation: landscape) {
  .centering-card {
    height: 19vh !important;

  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    *{font-size: 1.3rem !important;}
    .logo{
      width: 40vw;
    }

}

@media screen and (max-width: 1250px) {
  * {
    font-size: 1.3rem !important;
  }
  .logo{
    width: 50vw;
  }

  .sub-chord-pro-container {
    flex-flow: wrap;
  }

  .centering-card {
    width: 60vw;
  }
}

@media screen and (max-width: 1000px) {
  .inputs {
    padding-right: 25px;
    padding-left: 25px;
  }

  .centering-card {
    width: 60vw;
  }

  .main-text>p {
    width: auto;
  }
}


@media screen and (max-width: 760px) {
  .back-arrow {
    padding-bottom: 12%;
  }

  .sub-chord-pro-container {
    flex-flow: wrap;
  }

  .centering-card {
    width: 40vw;
  }

  .main-text>p {
    width: auto;
  }

  .enter-button {
    font-size: 1.3rem;
  }
  .lyrics{
      font-size: 1.1rem !important;
  }
}



@media screen and (max-width: 600px) {
  * {
    font-size: 1rem !important;
  }

  .centering-card {
    width: 85vw;
    height: 26vh;
  }

  .main-text {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .back-arrow {
    padding-bottom: 15%;
  }

  .logo {
    width: 75vw;
  }
}

.rotate {
  font-family: "Shippori Antique B1", sans-serif;
  font-size: 4.5vw;
  padding-top: 5%;
}

@media screen and (orientation: portrait) {
  #portrait {
    color: white;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (orientation: landscape) {
  #portrait {
    display: none !important;
    font-family: "Shippori Antique B1", sans-serif;
  }
}

@media only screen and (min-width: 816px) and (max-height: 1350px) {
  .back-arrow {
    padding-bottom: 8%;
  }
}

@media only screen and (min-width: 375px) and (max-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .back-arrow {
    padding-bottom: 30%;
  }

  .centering-card {
    width: 60vw;
    height: 21vh !important;
  }

  .main-text {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
}


@media only screen and (max-width:1200px) and (min-height: 375px) and (orientation:landscape){
  .back-arrow {
    padding-bottom: 30%;
  }
  .chord-pro-text{
    font-size: 1rem !important;
  }
  .first-back-button{
    font-size: 1rem !important;

  }
  .next-button{
    font-size: 1rem !important;
  }

  .centering-card {
    width: 60vw;
    height: 55vh !important;
  }

  .enter-button {
    height: 20vh !important;  

  }

  .input-code {
    height: 20vh !important;
  }
  .logo{
      width: 50vw !important;
  }
}
@media only screen and (max-width:1200px) and (min-height: 800px) and (orientation:landscape){
    .centering-card{
        height: 30vh !important;
    }
}


@media screen and (max-width: 400px) {
  * {
    font-size: 1rem !important;
  }

  .centering-card {
    width: 80vw;
    height: 22vh;
  }

  .logo {
    width: 75vw;
  }

  .main-text {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .main-text>p {
    font-size: 3rem;
    width: auto;
  }

}
@media screen and (max-width: 320px) and (max-height: 568px){
    .centering-card{
        height: 25vh !important;
    }
}
@media only screen and (max-width: 1200px) and (min-height: 800){
  .chord-pro-text{
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 1100px) and (max-height: 400px) and (orientation:landscape){
  .centering-card{
    width: 80vw !important;
    height: 70vh !important;
  }
  .chord-pro-text{
    font-size: 1rem !important;
  }
  .next-button{
    font-size: 1rem !important;

  }
  .first-back-button{
    font-size: 1rem !important ;
  }
  .input-code{
    height: 20vh !important;
  }
  .enter-button{
    height: 20vh !important;
  }
}
/*ipad pro*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  *{
    font-size: 1.4rem !important  ;
  }

}
@media only screen and (min-device-width: 1024px) and (max-device-height: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  *{
    font-size: 1.4rem !important;
  }
  .chord-pro-text{
    font-size: 1.4rem !important;

  }
  .first-back-button{
    font-size: 1.4rem;

  }
  .next-button{
    font-size: 1.4rem;
  }

}